extends ../layout

block content
  .index
    include partials/header

    .body
      .container
        .row
          .col-sm-3
            h1.section-title projects
            hr.visible-xs
          .col-sm-9
            .projects
              h1.project-title polychroma
              p.project-description A simple in-browser paint app. Uses HTML5's canvas element and socket.io.
              a.link(href='http://jluyke.github.io/polychroma/') jluyke.github.io/polychroma
              hr
              h1.project-title luyke-copter
              p.project-description A work-in-progress quadcopter, custom built.
              a.link(href='https://github.com/jluyke/luyke-copter') github.com/jluyke/luyke-copter

    include partials/footer
