.header
  .container
    .row
      .col-sm-6
        h1.title jordan luyke
      .visible-xs(style='padding: 1em 0 1em 0;')
      .col-sm-6
        .row
          .col-xs-4.link-col
            a.link(href='https://github.com/jluyke') github
          .col-xs-4.link-col
            a.link(href='https://keybase.io/jluyke') keybase
          .col-xs-4.link-col
            a.link(href='mailto:jordanluyke@gmail.com') contact